@{
    ViewData["Title"] = "Home Page";
}

<section class="home" id="home">

    <div class="image">
        <img src="/Content/images/main-img.jpg">
    </div>

    <div class="content">
        <span class="hello">hello</span>
        <h3> I'M SLAV MIHAYLOV </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a href="#about" class="btn">about me</a>
    </div>

</section>


<section class="about" id="about">

    <h1 class="heading"> about me </h1>

    <div class="row">

        <div class="box">
            <h3 class="title">coding skills</h3>
            <div class="progress">
                <h3> HTML <span>80%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> CSS <span>70%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> JS <span>50%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> C++ <span>40%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
        </div>

        <div class="box">
            <h3 class="title">language skills</h3>
            <div class="progress">
                <h3> English - Full Working Proficiency (C2) <span>100%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> Bulgarian - Native <span>100%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> Japanese - Advanced (N2) <span>80%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
            <div class="progress">
                <h3> German - Advanced (C1) <span>70%</span> </h3>
                <div class="bar"><span></span></div>
            </div>
        </div>

        <div class="box">
            <h3 class="title">experience</h3>
            <div class="exp-box">
                <h3>front end development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="exp-box">
                <h3>front end development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="exp-box">
                <h3>front end development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

        <div class="box">
            <h3 class="title">education</h3>
            <div class="exp-box">
                <h3>new bulgarian university</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="exp-box">
                <h3>new bulgarian university</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="exp-box">
                <h3>new bulgarian university</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

    </div>


</section>



<section class="gallery" id="gallery">

    <h1 class="heading"> gallery </h1>

    <div class="button-container">
        <div class="btn" data-filter="all">all</div>
        <div class="btn" data-filter="cats">cats</div>
        <div class="btn" data-filter="dogs">dogs</div>
        <div class="btn" data-filter="pandas">pandas</div>
        <div class="btn" data-filter="rabbits">rabbits</div>
    </div>

    <div class="image-container">

        <div class="box cats">
            <img src="/Content/images/img1.jpg">
        </div>

        <div class="box cats">
            <img src="/Content/images/img2.jpg">
        </div>

        <div class="box cats">
            <img src="/Content/images/img3.jpg">
        </div>

        <div class="box dogs">
            <img src="/Content/images/img4.jpg">
        </div>

        <div class="box dogs">
            <img src="/Content/images/img5.jpg">
        </div>

        <div class="box pandas">
            <img src="/Content/images/img6.jpg">
        </div>

        <div class="box rabbits">
            <img src="/Content/images/img7.jpg">
        </div>

        <div class="box rabbits">
            <img src="/Content/images/img8.jpg">
        </div>

        <div class="box rabbits">
            <img src="/Content/images/img9.jpg">
        </div>

    </div>

</section>



<section class="contacts" id="contacts">

    <h1 class="heading"> contacts </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-phone"></i>
            <h3>my number</h3>
            <p>0887 942 653 </p>
        </div>

        <div class="box">
            <i class="fas fa-envelope"></i>
            <h3>my email</h3>
            <p>waltzmaster1@gmail.com</p>
        </div>

        <div class="box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>my address</h3>
            <p>Sofia, Bulgaria</p>
        </div>

    </div>

    <div class="row">

        <form action="">
            <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>
            <input type="text" placeholder="subject">
            <textarea name="" id="" cols="30" rows="10" placeholder="message"></textarea>
            <button class="btn"> send message </button>
        </form>

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d187673.308693818!2d23.18386297025225!3d42.69534680336567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa8682cb317bf5%3A0x400a01269bf5e60!2sSofia!5e0!3m2!1sen!2sbg!4v1639070988077!5m2!1sen!2sbg" allowfullscreen="" loading="lazy"></iframe>

    </div>

</section>

<div class="comment">
    <div class="row">
        <textarea class="commentBox" placeholder="Place your comments here" type="textarea"></textarea>
        <button>Post</button>
        <ul class="clearfix comments">
        </ul>
    </div>
</div>
<br>

<div class="footer">created by Slav</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

Scripts{
<script src="~/Scripts/site.js"></script>
}